<header class="header header-border">
    <!-- End HeaderTop -->
    <div class="header-middle sticky-header fix-top sticky-content">
        <div class="container">
            <div class="header-left">
                <a href="#" class="mobile-menu-toggle">
                    <i class="d-icon-bars2"></i>
                </a>
                <a href="/" class="logo">
                    <img src="@@path/assets/custom/images/logo-black.png" alt="logo" width="153" height="44" />
                </a>
                <!-- End Logo -->
            </div>
            <div class="header-right">
                <span class="divider"></span>
                <a href="tel:0742256861" class="icon-box icon-box-side">
                    <div class="icon-box-icon mr-0 mr-lg-2">
                        <i class="d-icon-phone"></i>
                    </div>
                    <div class="icon-box-content d-lg-show">
                        <h4 class="icon-box-title">Telefon:</h4>
                        <p>0742-256-861</p>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="header-bottom d-lg-show">
        <div class="container">
            <div class="header-left">
                <nav class="main-nav">
                    <ul class="menu">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/panou-publicitar-cluj.html">Cluj</a>
                        </li>
                        <li>
                            <a href="/panou-publicitar-fagaras.html">Fagaras</a>
                        </li>
                        <li>
                            <a href="/publicitate-outdoor-intrebari.html">Intrebari Frecvente</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="header-right">
                <a href="/contact.html"><i class="d-icon-card"></i>Cere Oferta</a>
            </div>
        </div>
    </div>
</header>
