<footer class="footer">
    <div class="container">
        
        <div class="footer-top">
            <div class="row align-items-center">
                <div class="col-lg-3">
                    <a href="demo1.html" class="logo-footer">
                        <img src="@@path/assets/custom/images/logo.png" alt="logo-footer" width="154" height="43" />
                    </a>
                    <!-- End FooterLogo -->
                </div>
                <div class="col-lg-9">
                    <div class="widget widget-newsletter form-wrapper form-wrapper-inline">
                        <div class="">
                            <h4 class="widget-title">
                                Publicitate Outdoor prin Panou Publicitar LED
                            </h4>
                            <p>
                                Oferta include consultanta, productie media in 
                                <a style="color: white;" href="/panou-publicitar-cluj.html">Cluj-Napoca</a> 
                                si <a style="color: white;" href="/panou-publicitar-fagaras.html">Fagaras</a> .
                            </p>
                        </div>
                    </div>
                    <!-- End Newsletter -->
                </div>
            </div>
        </div>
        <!-- End FooterTop -->
        <div class="footer-middle">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="widget widget-info">
                        <h4 class="widget-title">Contact</h4>
                        <ul class="widget-body">
                            <li>
                                <label>Telefon:</label>
                                <a href="tel:0742256861">0742-256-861</a>
                            </li>
                            <li>
                                <label>Email:</label>
                                <a href="mailto:contact@charismamedia.ro">contact@charismamedia.ro</a>
                            </li>
                        </ul>
                    </div>
                    <!-- End Widget -->
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="widget ml-lg-4">
                        <h4 class="widget-title">Adresa</h4>
                        <ul class="widget-body">
                            <li>
                                <label>
                                    Fagaras, Nicolae Balcescu, Nr. 5  
                                </label>
                            </li>
                            <li>
                                <label>Program</label>
                                Luni-Vineri: 9 - 18.00
                            </li>
                        </ul>
                    </div>
                    <!-- End Widget -->
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="widget ml-lg-4">
                        <h4 class="widget-title">
                            Puncte de Lucru
                        </h4>
                        <ul class="widget-body">
                            <li>
                                <a href="/panou-publicitar-cluj.html">Cluj-Napoca</a>
                            </li>
                            <li>
                                <a href="/panou-publicitar-fagaras.html">Fagaras</a>
                            </li>
                        </ul>
                    </div>
                    <!-- End Widget -->
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="widget ml-lg-4">
                        <h4 class="widget-title">
                            Social Media
                        </h4>
                        <ul class="widget-body">
                            <li>
                                <a target="_blank" href="https://www.facebook.com/goscharismamedia">Facebook</a>
                            </li>
                            <li>
                                <a target="_blank" href="https://www.facebook.com/goscharismamedia">Instagram</a>
                            </li>                            
                        </ul>
                    </div>
                    <!-- End Widget -->
                </div>
            </div>
        </div>
        <!-- End FooterMiddle -->
        <div class="footer-bottom">
            <div class="footer-left">
                &nbsp;
            </div>
            <div class="footer-center">
                <p class="copyright">&copy; CharismaMedia - Toate Drepturile Rezervate</p>
            </div>
            <div class="footer-right">
                &nbsp;
            </div>
        </div>
        <!-- End FooterBottom -->
    </div>
</footer>
