<div class="sticky-footer sticky-content fix-bottom">
    <a href="/" class="sticky-link">
        <i class="d-icon-home"></i>
        <span>Home</span>
    </a>
    <a href="/panou-publicitar-cluj.html" class="sticky-link">
        <i class="d-icon-volume"></i>
        <span>Cluj</span>
    </a>
    <a href="/panou-publicitar-fagaras.html" class="sticky-link">
        <i class="d-icon-volume"></i>
        <span>fagaras</span>
    </a>
    <a href="/contact.html" class="sticky-link">
        <i class="d-icon-user"></i>
        <span>Contact</span>
    </a>
</div>
