<div class="mobile-menu-wrapper">
    <div class="mobile-menu-overlay">
    </div>
    <!-- End of Overlay -->
    <a class="mobile-menu-close" href="#"><i class="d-icon-times"></i></a>
    <!-- End of CloseButton -->
    <div class="mobile-menu-container scrollable">
        <ul class="mobile-menu mmenu-anim">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/panou-publicitar-cluj.html">Cluj</a>
            </li>  
            <li>
                <a href="/panou-publicitar-fagaras.html">Fagaras</a>
            </li>
            <li>
                <a href="/contact.html">Contact</a>
            </li>                                      
        </ul>
    </div>
</div>
