        <!-- End Header -->
        <main class="main">
            <div class="page-header" style="background-image: url(@@path/assets/custom/images/contact-us2.png)">
                <h1 class="page-title font-weight-bold text-capitalize ls-l" style="color:black;">Contact</h1>
            </div>
            <div class="page-content mt-10 pt-7">
                <section class="contact-section">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-sm-6 ls-m mb-4">
                                <div class="grey-section d-flex align-items-center h-100">
                                    <div>
                                        <h4 class="mb-2 text-capitalize">
                                            Adresa
                                        </h4>
                                        <p>
                                            <strong>CLUJ</strong>, Str. Eroilor 378, Floresti
                                        </p>

                                        <h4 class="mb-2 text-capitalize">
                                            Telefon
                                        </h4>
                                        <p>
                                            <a href="tel:0742256861">0742-256-861</a>
                                            <br>
                                            <a href="tel:0761565264">0761-565-264</a>
                                        </p>

                                        <h4 class="mb-2 text-capitalize">Email</h4>
                                        <p class="mb-4">
                                            <a href="mail:contact@charismamedia.ro">contact@charismamedia.ro</a><br>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-8 col-sm-6 d-flex align-items-center mb-4">
                                <div class="w-100">

                                    <h4 class="ls-m font-weight-bold">
                                        Cere Oferta
                                    </h4>
                                    <p>
                                        Completeaza datele de mai jos si te vom contacta in cel mai scurt timp *
                                    </p>
                                    <h5 style="display: none;" id="contact-status">Success!</h5>

                                    <form class="pl-lg-2" id="contact-form">

                                        <div class="row mb-2">
                                            <div class="col-12 mb-4">
                                                <textarea name="message"
                                                          class="form-control" required
                                                          placeholder="Comment*"></textarea>
                                            </div>
                                            <div class="col-md-6 mb-4">
                                                <input name="telefon"
                                                       class="form-control" type="text" placeholder="Telefon *" required>
                                            </div>
                                            <div class="col-md-6 mb-4">
                                                <input name="email"
                                                       class="form-control" type="email" placeholder="Email *" required>
                                            </div>
                                        </div>
                                        <button id="contact-button"
                                                class="btn btn-dark btn-rounded">Trimite Mesaj
                                                <i id="contact-button-icon" class="d-icon-arrow-right"></i>
                                        </button>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- End About Section-->

                <section class="store-section mt-6 pt-10 pb-8">
                    <div class="container">
                        <h2 class="title title-center mb-7 text-normal">
                            Locatiile Noastre
                        </h2>
                        <div class="row cols-sm-2 cols-lg-4 justify-content-center">

                            <div class="store">
                                <figure class="banner-radius">
                                    <img src="@@path/assets/custom/images/card-cluj.png" alt="store" width="280" height="280">
                                    <h4 class="overlay-visible">Cluj</h4>
                                    <div class="overlay overlay-transparent">
                                        <p>
                                            <br />
                                            <a href="/panou-publicitar-cluj.html">Outdoor Advertising</a>
                                        </p>                                        
                                    </div>
                                </figure>
                            </div>
                            <div class="store">
                                <figure class="banner-radius">
                                    <img src="@@path/assets/custom/images/card-fagaras.png" alt="store" width="280" height="280">
                                    <h4 class="overlay-visible">Fagarasi</h4>
                                    <div class="overlay overlay-transparent">
                                        <p>
                                            <br />
                                            <a href="/panou-publicitar-fagaras.html">Outdoor Advertising</a>
                                        </p>  
                                    </div>
                                </figure>
                            </div>

                        </div>
                    </div>
                </section>
                <!-- End Store Section -->

                <!-- Google Maps - Go to the bottom of the page to change settings and map location. -->
                <div class="grey-section google-map" id="googlemaps" style="height: 386px"></div>
                <!-- End Map Section -->
                
            </div>

        </main>
        <!-- End Main -->
        