<script src="@@path/assets/vendor/jquery/jquery.min.js"></script>
<script src="@@path/assets/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="@@path/assets/vendor/jquery.gmap/jquery.gmap.min.js"></script>

<!-- Main JS File -->
<script src="@@path/assets/js/main.min.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key="></script>
<script>

    // Show an element
    var show = function (elem) {
        elem.style.display = 'block';
    };

    // Hide an element
    var hide = function (elem) {
        elem.style.display = 'none';
    };

    var toggle = function (elem) {

        // If the element is visible, hide it
        if (window.getComputedStyle(elem).display === 'block') {
            hide(elem);
            return;
        }

        // Otherwise, show it
        show(elem);

    };

    window.onload = function() {

        let contact_form   = document.getElementById('contact-form'   );
        let contact_status = document.getElementById('contact-status' );
        let contact_button = document.getElementById('contact-button' );

        if ( contact_form ) {
            contact_form.addEventListener('submit', function(event) {

            event.preventDefault();

            contact_button.disabled = true;
            emailjs.sendForm('service_ozenqks', 'template_2sv8ryn776', this)
                .then(function() {
                    console.log('SUCCESS!');

                    toggle( contact_form   );
                    toggle( contact_status );

                    contact_button.disabled = false;

                }, function(error) {
                    console.log('FAILED...', error);

                    toggle( contact_form   );
                    toggle( contact_status ); 

                    contact_button.disabled = false;
                });
            });

        } else {
            console.log(' > ERR: Form not found');
        }
    } 

    /*
    Map Settings

        Find the Latitude and Longitude of your address:
            - https://www.latlong.net/
            - http://www.findlatitudeandlongitude.com/find-address-from-latitude-and-longitude/

    */

    // Map Markers
    var mapMarkers = [ {
        address: "New York, NY 10017",
        html: "<strong>New York Office<\/strong><br>New York, NY 10017",
        popup: true
    } ];

    // Map Initial Location
    var initLatitude = 40.75198;
    var initLongitude = -73.96978;

    // Map Extended Settings
    var mapSettings = {
        controls: {
            draggable: !window.Riode.isMobile,
            panControl: true,
            zoomControl: true,
            mapTypeControl: true,
            scaleControl: true,
            streetViewControl: true,
            overviewMapControl: true
        },
        scrollwheel: false,
        markers: mapMarkers,
        latitude: initLatitude,
        longitude: initLongitude,
        zoom: 11
    };

    var map = $( '#googlemaps' ).gMap( mapSettings );

    // Map text-center At
    var mapCenterAt = function ( options, e ) {
        e.preventDefault();
        $( '#googlemaps' ).gMap( "centerAt", options );
    }

</script>
