<main class="main">
    <div class="page-header" style="background-image: url(@@path/assets/custom/images/faq.png)">
        <h3 class="page-subtitle lh-1">
            Intrebari Frecvente
        </h3>
        <h1 class="page-title font-weight-bold text-capitalize lh-1">
            Publicitate Outdoor
        </h1>
    </div>
    <div class="page-content mb-10 pb-8">
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mt-10">
                        <h2 class="title pl-2 pr-2 ls-m text-left">
                            Informatii Generale
                        </h2>
                        <div class="accordion accordion-border accordion-boxed accordion-plus">
                            <div class="card">
                                <div class="card-header">
                                    <a href="#collapse1-1" class="collapse">
                                        Ce este publicitatea outdoor?
                                    </a>
                                </div>
                                <div id="collapse1-1" class="expanded">
                                    <div class="card-body">
                                        <p>
                                            Publicitatea outdoor se referă la promovarea produselor și serviciilor prin intermediul panourilor publicitare, afișelor, 
                                            bannerelelor sau alte mijloace de publicitate amplasate în spațiile publice, cum ar fi străzile, bulevardele sau piețele.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a href="#collapse1-2" class="expand">
                                        Avantajele promovarii prin Outdoor Advertising
                                    </a>
                                </div>
                                <div id="collapse1-2" class="collapsed">
                                    <div class="card-body">
                                        <p>
                                            Publicitatea outdoor poate fi o metodă eficientă de a ajunge la o audiență largă și poate fi utilizată pentru a crește gradul de conștientizare a brandului și a vânzărilor.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mt-10">
                        <h2 class="title pl-2 pr-2 ls-m">
                            Publicitate prin Led Screen TV
                        </h2>
                        <div class="accordion accordion-border accordion-boxed accordion-plus">
                            <div class="card">
                                <div class="card-header">
                                    <a href="#collapse2-1" class="collapse">
                                        Particularitati ale acestei forme de promovare
                                    </a>
                                </div>
                                <div id="collapse2-1" class="expanded">
                                    <div class="card-body">
                                        <p>
                                            Publicitatea prin TV LED este o formă modernă de publicitate outdoor care implică utilizarea panourilor publicitare digitale cu afișaj LED, 
                                            care pot afișa imagini și videoclipuri publicitare cu o calitate înaltă și un efect vizual puternic.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a href="#collapse2-2" class="expand">
                                        Care este impactul acestui tip de promovare    
                                    </a>
                                </div>
                                <div id="collapse2-2" class="collapsed">
                                    <div class="card-body">
                                        <p>
                                            Aceste panouri publicitare LED sunt echipate cu tehnologie avansată care permite ajustarea luminozității și a contrastului, 
                                            astfel încât să poată fi vizibile și în condiții de iluminare puternică, cum ar fi pe timp de zi sau în zone cu mult trafic.                                             
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mt-10">
                        <h2 class="title pl-2 pr-2 ls-m">
                            Servicii Publicitate Outdoor, Cluj-Napoca
                        </h2>
                        <div class="accordion accordion-border accordion-boxed accordion-plus">
                            <div class="card">
                                <div class="card-header">
                                    <a href="#collapse3-1" class="collapse">
                                        Unde este pozitionat Led Screen TV-ul?
                                    </a>
                                </div>
                                <div id="collapse3-1" class="expanded">
                                    <div class="card-body">
                                        <p>
                                            Panoul LED este pozitionat in intersectia din fata Viva Mall, o zona cu un un trafic auto intens pe tot parcusul zilei. 
                                            <br />
                                            Pentru mai multe informatii poti suna oricand la numarul <strong>0742-256-241</strong>.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a href="#collapse3-2" class="expand">
                                        Se poate utiliza productia VIDEO a clientului?
                                    </a>
                                </div>
                                <div id="collapse3-2" class="collapsed">
                                    <div class="card-body">
                                        <p>
                                            Cu siguranta. 
                                            Pe langa acest aspect, putem asista si crea materiale pentru noile oferte sau promotii. 
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mt-10">
                        <h2 class="title pl-2 pr-2 ls-m">
                            Servicii Publicitate Outdoor, Fagaras
                        </h2>
                        <div class="accordion accordion-border accordion-boxed accordion-plus">
                            <div class="card">
                                <div class="card-header">
                                    <a href="#collapse4-1" class="collapse">
                                        Unde este pozitionat panoul LED?    
                                    </a>
                                </div>
                                <div id="collapse4-1" class="expanded">
                                    <div class="card-body">
                                        <p>
                                            LED Screen-ul este amplasat in centrul orasului, in fata magazinului universal Negoiu 
                                            (segment din drumul european E68care leaga Brasovul de Sibiu).
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a href="#collapse4-2" class="expand">
                                        Cum ma ajuta concret acest tip de publicitate?
                                    </a>
                                </div>
                                <div id="collapse4-2" class="collapsed">
                                    <div class="card-body">
                                        <p>
                                            Publicitatea Outdoor pe LED Screen impinge la actiune, starneste curiozitatea si activeaza dorinta de cumparare.
                                            <br />
                                            Prin transferul vizual de informatie, audienta poate fi usor convertita in clienti pe termen lung.   
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</main>
