	<!-- Plugins JS File -->
    <script src="@@path/assets/vendor/jquery/jquery.min.js"></script>
    <script src="@@path/assets/vendor/parallax/parallax.min.js"></script>
    <script src="@@path/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="@@path/assets/vendor/elevatezoom/jquery.elevatezoom.min.js"></script>
    <script src="@@path/assets/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="@@path/assets/vendor/owl-carousel/owl.carousel.min.js"></script>
    <!-- Main JS File -->
    <script src="@@path/assets/js/main.js"></script>
    