<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

<title>Riode - Ultimate eCommerce Template</title>

<meta name="keywords" content="HTML5 Template" />
<meta name="description" content="Riode - Ultimate eCommerce Template">
<meta name="author" content="D-THEMES">

<!-- Favicon -->
<link rel="icon" type="image/png" href="@@path/assets/images/icons/favicon.png">

<script>
    WebFontConfig = {
        google: { families: [ 'Poppins:400,600,700,800' ] }
    };
    ( function ( d ) {
        var wf = d.createElement( 'script' ), s = d.scripts[ 0 ];
        wf.src = '@@path/assets/js/webfont.js';
        wf.async = true;
        s.parentNode.insertBefore( wf, s );
    } )( document );
</script>

<!-- Plugins CSS File -->
<link rel="stylesheet" type="text/css" href="@@path/assets/vendor/owl-carousel/owl.carousel.min.css">
<link rel="stylesheet" type="text/css" href="@@path/assets/vendor/magnific-popup/magnific-popup.min.css">

<!-- Main CSS File -->
<link rel="stylesheet" type="text/css" href="@@path/assets/landing/landing-critical.min.css">

<!-- CUSTOM CSS File -->
<link rel="stylesheet" type="text/css" href="@@path/assets/custom/custom.css">