<header class="header header-transparent">
    <div class="header-middle sticky-header fix-top sticky-content has-center">
        <div class="container-fluid">

            <div class="header-left">
                <a href="#" class="mobile-menu-toggle d-lg-none mr-3" title="mobile toggle">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="70px" height="70px"
                        viewBox="0 0 70 70" enable-background="new 0 0 70 70" xml:space="preserve">
                        <line fill="none" stroke-width="3.028" stroke-linecap="square" stroke-linejoin="round"
                            stroke-miterlimit="10" x1="17.953" y1="23.538" x2="52.047" y2="23.538" />
                        <line fill="none" stroke-width="3.028" stroke-linecap="square" stroke-linejoin="round"
                            stroke-miterlimit="10" x1="17.953" y1="34.999" x2="52.047" y2="34.999" />
                        <line fill="none" stroke-width="3.028" stroke-linecap="square" stroke-linejoin="round"
                            stroke-miterlimit="10" x1="17.953" y1="46.462" x2="34.707" y2="46.462" />
                    </svg>
                </a>
                <a href="/" class="logo">
                    <img src="@@path/assets/custom/images/logo.png" alt="logo" width="153" height="44" />
                </a>
            </div>

            <div class="header-center">                        
                <nav class="main-nav d-lg-block d-none">
                    <ul class="menu menu-active-underline">
                        <li>
                            <a href="/panou-publicitar-cluj.html">Cluj-Napoca</a>
                        </li>
                        <li>
                            <a href="/panou-publicitar-fagaras.html">Fagaras</a>
                        </li>
                        <li>
                            <a href="/publicitate-outdoor-intrebari.html">Intrebari</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="header-right">
                <a href="/contact.html" 
                    class="btn btn-rounded btn-solid gra-reversed btn-purchase">Contact</a>
            </div>

        </div>
    </div>
</header>
