<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

<title>@@title</title>

<meta name="keywords" content="@@keywords" />
<meta name="description" content="@@description">
<meta name="author" content="D-THEMES">

<!-- Favicon -->
<link rel="icon" type="image/png" href="@@path/assets/images/icons/favicon.png">

<script>
    WebFontConfig = {
        google: { families: [ 'Poppins:300,400,500,600,700' ] }
    };
    ( function ( d ) {
        var wf = d.createElement( 'script' ), s = d.scripts[ 0 ];
        wf.src = '@@path/assets/js/webfont.js';
        wf.async = true;
        s.parentNode.insertBefore( wf, s );
    } )( document );
</script>


<link rel="stylesheet" type="text/css" href="@@path/assets/vendor/fontawesome-free/css/all.min.css">
<link rel="stylesheet" type="text/css" href="@@path/assets/vendor/animate/animate.min.css">

<!-- Plugins CSS File -->
<link rel="stylesheet" type="text/css" href="@@path/assets/vendor/magnific-popup/magnific-popup.min.css">
<link rel="stylesheet" type="text/css" href="@@path/assets/vendor/owl-carousel/owl.carousel.min.css">

<link rel="stylesheet" type="text/css" href="@@path/assets/vendor/sticky-icon/stickyicon.css">

<!-- Main CSS File -->
<link rel="stylesheet" type="text/css" href="@@path/assets/css/style.min.css">
