<main class="main">
    <div class="page-header pl-4 pr-4" style="background-image: url(@@path/assets/custom/images/servicii-top-bg.jpg)">
        <h3 class="page-subtitle font-weight-bold">
            Outdoor Advertising, Publicitate
        </h3>
        <h1 class="page-title font-weight-bold lh-1 text-white text-capitalize">
            Led Screen TV in Fagaras
        </h1>
        <p class="page-desc text-white mb-0">
            Servicii de promovare prin panou LED in fata magazinului Universal Negoiu. 
        </p>
    </div>
    <div class="page-content mt-10 pt-10">
        <section class="about-section pb-10 appear-animate">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12 mb-10 mb-lg-4">
                        <h5 class="section-subtitle lh-2 ls-md font-weight-normal">
                            Alaturi de clientii nostri din 2019
                        </h5>
                        <h3 class="section-title lh-1 font-weight-bold">
                            Alege sa fii vizibil intr-un timp record. 
                        </h3>
                        <p class="section-desc">
                            &nbsp;
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- End About Section-->

        <section class="customer-section pb-10 appear-animate">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-7 mb-4">
                        <figure>
                            <img src="@@path/assets/custom/images/servicii-fagaras-img1.png" alt="Happy Customer" width="580"
                                height="507" class="banner-radius" style="background-color: #BDD0DE;" />
                        </figure>
                    </div>
                    <div class="col-md-5 mb-4">
                        <h5 class="section-subtitle lh-2 ls-md font-weight-normal">
                            Impact Rapid
                        </h5>
                        <h3 class="section-title lh-1 font-weight-bold">
                            Brand-ul Tau Expus la Scara Larga
                        </h3>
                        <p class="section-desc text-grey">
                            Panoul LED expune clipurile la intervale regulate in zone cu trafic ridicat.<br>
                            Informatiile por fi actualizate in timp real si clientii pot afla de noile promotii rapid.<br>
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Customer Section -->

        <section class="store-section pb-10 appear-animate">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6 order-md-first mb-4">
                        <h5 class="section-subtitle lh-2 ls-md font-weight-normal mb-1">
                            Zona Centrala
                        </h5>
                        <h3 class="section-title lh-1 font-weight-bold">
                            In fata Magazinului Negoiu
                        </h3>
                        <p class="section-desc text-grey">
                            Panoului LED este pozitionat pe E68, o importanta ruta care face legatura intre Ungaria si Romania. 
                            <br>
                        </p>
                        <a href="/contact.html" 
                           class="btn btn-dark btn-link btn-underline ls-m">Cere Oferta<i class="d-icon-arrow-right"></i>
                        </a>
                    </div>
                    <div class="col-md-6 mb-4">
                        <figure>
                            <img src="@@path/assets/custom/images/servicii-fagaras-img2.png" alt="Our Store" width="580" height="507"
                                class="banner-radius" style="background-color: #DEE6E8;" />
                        </figure>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Store-section -->

        <section class="customer-section pb-10 appear-animate">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-7 mb-4">
                        <figure>
                            <img src="@@path/assets/custom/images/servicii-fagaras-img3.png" alt="Happy Customer" width="580"
                                height="507" class="banner-radius" style="background-color: #BDD0DE;" />
                        </figure>
                    </div>
                    <div class="col-md-5 mb-4">
                        <h5 class="section-subtitle lh-2 ls-md font-weight-normal">
                            Support Media
                        </h5>
                        <h3 class="section-title lh-1 font-weight-bold">
                            Date Tehnice    
                        </h3>
                        <p class="section-desc text-grey">
                            <ul>
                                <li>
                                    <strong>Afisaj</strong>: 12mp
                                </li>
                                <li>
                                    <strong>Durata Clip</strong>: 10sec
                                </li>
                                <li>
                                    <strong>Frecventa</strong>: 1 difuzare la 6min, <strong>Minim 140/zi</strong>
                                </li>
                                <li>
                                    <strong>Actualizare in timp real</strong>
                                </li>
                            </ul>
                            Nota: Schimbarea continutului media nu implica costuri suplimentare. 
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Customer Section -->

        <!-- Google Maps - Go to the bottom of the page to change settings and map location. -->
        <div class="grey-section google-map" id="googlemaps" style="height: 386px"></div>
        <!-- End Map Section -->

    </div>
</main>
